.container {
}

.container .selectedFile {
    font-style: italic;
    font-size: 12pt;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.container .verifying {
  margin-top: 10px;
  font-style: italic;
  animation: flickerAnimation 2s infinite;
}
