.container {
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.container ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.container li {
  margin-top: 15px;
  margin-left: 0px;
}

.container .rateLimit {
  font-size: 12pt;  
  color: red;
}