.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #444;
  color: white;
  -webkit-app-region: drag;
}

.container a {
  text-decoration: none;
  color: white;
}

.container ul {
  list-style: none;
  border: thin solid green;
  line-height: 30px;
  padding-left: 20px;
  margin: 0px;
  font-size: 12pt;
}

.container li {
  display: inline;
  margin-right: 40px;
  font-weight: bold;
}

.container img {
  height: 15px;
  vertical-align: middle; 
  margin-right: 10px;
}

.container .active {
  color: lightblue;
}

.container a:hover {
  color: lightblue;
}
